.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #98EEFA;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #042940;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #FB7700;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #042940;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 900px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

body {
    float: center;
    background-color: #98EEFA;
    overflow-x: hidden;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;
    padding-left: clamp(3%, 2%, 15%);
    padding-right: clamp(3%, 2%, 15%);
}

.logo {
    padding-top: 10px;
    width: 300px;
    height: auto;
}

a { 
	transition: all .2s ease-in-out; 
}
a:hover { 
    	transform: scale(1.01); 
}

p { 
        transition: all .2s ease-in-out; 
    }
p:hover { 
      transform: scale(1.01); 
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;
    padding-left: 10%;
    padding-right: 10%;
}

#primary-navigation
{
    color: #042940;
    transition: all .2s ease-in-out; 

}

#primary-navigation a:hover {
    font-size:20px;
    font-size-adjust: 20px;
    transform: scale(1.05); 
}

.primary-navigation {
    list-style: none;
    text-decoration: none;

}

.mobile-nav-toggle {
    display: none;
}


@media (max-width: 35em) {
    .primary-navigation {
        --gap: 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 0;

        flex-direction: column;
        padding: min(30vh, rem);
        align-items: center;
        background: #30e07a;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
.primary-navigation[data-visible="true"] {
    transform: translateX(0%);
}

@media (min-width: 35em) {
    .primary-navigation {
       padding-inline: clamp(3rem, 7vw, 10rem);
    }
}

.mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    color: #042940;
    background-image: url("Images/Waves-Blue.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    width: 5rem;
    aspect-ratio: 1;
    border: 0;
    top: 3rem;
    right: 2rem;
}

.mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("Images/Cross.svg");
}
    
}

.primary-navigation a [aria-hidden="true"] {
    text-decoration: none;
    color: #042940;
}


#work {
    font-weight: 700;

}

a {
    text-decoration: none;
}



.body-text {
    padding-top: 10%;
    padding-left: 10%;
    display: inline-block;
    justify-content: center;
    max-width: 70%;
    font-family: 'Exo 2', sans-serif;
    font-size: clamp(0.5rem, 2rem + 5vw);
    font-weight: 500;
    color: #042940;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.5rem, 1rem + 5vw, 1.5rem);
}


h2 {
    font-family: 'Exo 2', sans-serif;
    font-size: clamp(0.5rem, 1rem + 5vw, 2rem);
    font-weight: 700;
    color: #042940;
    transition: all .2s ease-in-out; 
}

h2:hover { 
    transform: scale(1.01); 
}

.Preview {
    padding: 2rem;
    width: 90%;
}

img { 
	transition: all .2s ease-in-out; 
}
img:hover { 
    	transform: scale(1.05); 
    }

.Hero {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 5em;
    width: 75%;
    margin-bottom: 2rem;
}

.MyValues {
    padding-top: 2rem;
    padding-left: 10%;
    display: inline-block;
    justify-content: center;
    max-width: 70%;
    font-family: 'Exo 2', sans-serif;
    font-size: clamp(0.5rem, 2rem + 5vw);
    font-weight: 500;
    color: #042940;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.5rem, 1rem + 5vw, 1.5rem);
}

h3 {
    color: #FB7700;
    margin-top: 3rem;
}

.UXSkillsTitle {
    padding-left: clamp(3%, 2%, 15%);
    padding-right: clamp(3%, 2%, 15%);
    padding-left: 10%;
    padding-top: 2rem;
}

.UXSkills {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%; 
    max-width: 100%;
    justify-content:stretch;
    font-family: 'Exo 2', sans-serif;
    font-size: clamp(0.5rem, 2rem + 5vw);
    font-weight: 500;
    color: #042940;
    font-size: clamp(0.5rem, 1rem + 5vw, 1.5rem);
}

.UXSkills > * {
    flex: 1 1 10em;
}

.Chat {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%; 
    padding-top: 2em;
    margin: none;
    max-width: 80%;
    font-family: 'Exo 2', sans-serif;
    font-size: clamp(0.5rem, 2rem + 5vw);
    font-weight: 500;
    color: #042940;
    font-size: clamp(0.5rem, 1rem + 5vw, 1.5rem);
}

.Chat2 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%; 
    padding-top: 4em;
    margin: none;
    max-width: 80%;
    font-family: 'Exo 2', sans-serif;
    font-size: clamp(0.5rem, 2rem + 5vw);
    font-weight: 500;
    color: #042940;
    font-size: clamp(0.5rem, 1rem + 5vw, 1.5rem);
}

.Chat3 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%; 
    padding-top: 4em;
    margin: none;
    max-width: 80%;
    font-family: 'Exo 2', sans-serif;
    font-size: clamp(0.5rem, 2rem + 5vw);
    font-weight: 500;
    color: #042940;
    font-size: clamp(0.5rem, 1rem + 5vw, 1.5rem);
}

.Chat > * {
    flex: 1 1 40%;
}

.Chat2 > * {
    flex: 1 1 40%;
}

.Chat3 > * {
    flex: 1 1 40%;
    padding-bottom: 10em;
}

.Chat-child {
    display: inline;
    max-width: 100%;
    font-size: clamp(0.5rem, 1rem + 5vw, 1.5rem);
}

.img1 {
    float: right;
    height: 20rem;
    width: auto;
    vertical-align: middle;
}

.img2 {
    float: right;
    height: 20rem;
    width: auto;
    vertical-align: middle;
}

.img3 {
    float: right;
    height: 20rem;
    width: auto;
    vertical-align: middle;
}





